doctype html

block variables

html
    head
        title=title
        link(rel='icon' type='image/png' href='../images/favicon-32x32.png' sizes='32X32')
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Exo+2|Orbitron|Inconsolata|Josefin+Sans|Ubuntu&display=swap")
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        body(class='body')
            div(id='wrapper')
                div(class='banner')
                    div(class='logo')
                        a(href='/')
                            img(class='logo' src='../images/buster.jpg')
                    ol(class='nav-bar')
                        li
                            a(href='/report-summary') Report Summary
                        li
                            a(href='/transect') Transect
                        li(id='nav-bar-end')
                            a(href='/full-report') Full Report
            block content