extends layout

block variables
    //include in here any variables that you might need in the view

block content
    div(class = 'header')
        //The 'title' variable is
        h1= title
        h3 A subtitle/description